body {background-color: rgb(255, 98, 0);}
    h1 {color: white; text-align: center;}  
    h2 {color: white; text-align: center;} 
    p {color: white; text-align: center;}
    ul {color: white; text-align: center;}
    li {color: white; text-align: center;}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}